<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!---<link rel="stylesheet" href="static/style.css">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dogs-as-a-Service-Full-Stack-API-DB-Web-App</title>
    
</head>

<body>
    <h1>Hello, LB!</h1>
</body>
</html>